<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnDgsbz3HaMXcnGI-84_WnaCQU8nLSjeg</string>
	<key>GCM_SENDER_ID</key>
	<string>51591182625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meeel.Atty</string>
	<key>PROJECT_ID</key>
	<string>atty-bd533</string>
	<key>STORAGE_BUCKET</key>
	<string>atty-bd533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51591182625:ios:836f7400b696715c042660</string>
</dict>
</plist>